<section style = "background-color: #ffe2c3;">
    <div class="container p-3" >
        <br>
        <h2 class = "text-center" style="color: #99836c;">WORK EXPERIENCE</h2>
        <hr>
        <br>
        <div class="card" style = "max-width: 40rem;margin: 0 auto;">
            <div class="card-header text-uppercase" style="background-color: #e5c5a2;">
                <h4>Front-end Developer</h4>
                <p>2022 - Present</p>
            </div>
            <div class="card-body" style = "background-color: #ffe5cb;">
                <p class = "card-title"><b>Programming Languages: </b> {{ language }} </p>
            </div>
        </div>
    </div>
    <br>
</section>


